<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img
          src="images/ps-logo.png"
          alt="Logo da loja PlayStation"
          srcset=""
          width="140"
          height="32"
          >
  </div>
  <div class="menu-bar__item">
    <ul>
      <li><a href="https://www.linkedin.com/in/rennansilva16/" target="_blank" rel="noopener noreferrer">LINKEDIN</a></li>
      <li><a href="https://github.com/rennansilva16" target="_blank" rel="noopener noreferrer">GITHUB</a></li>
    </ul>
  </div>
</div>
